OSINT_01_Core_Router (1).json
{
  "name": "OSINT_01_Core_Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "edited_message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "3d5d3171-3f6b-4093-b468-4bc66714d610",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        224
      ],
      "webhookId": "f4d66eed-7b65-455a-b9fb-cb7fd255fc26",
      "credentials": {
        "telegramApi": {
          "id": "Xw7qHzoLSGuJnpZr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "e2b1113c-37df-45f2-9f26-1298a228bc39",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        672
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA/edit#gid=0"
        },
        "options": {}
      },
      "id": "c88e7f0e-6019-483e-bd2f-103a16b27f13",
      "name": "Read Queued Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dUZaJdXfgHXwnmNN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a9c67874-76b9-4c08-a919-35f59baa4858",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        512,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  let normalized = {\n    source: null,\n    user_id: null,\n    chat_id: null,\n    raw_text: '',\n    voice_file_id: null,\n    timestamp: new Date().toISOString()\n  };\n  \n  // Telegram message\n  if (data.message || data.edited_message || data.callback_query) {\n    normalized.source = 'telegram';\n    const msg = data.message || data.edited_message || data.callback_query?.message;\n    const from = data.message?.from || data.edited_message?.from || data.callback_query?.from;\n    \n    normalized.user_id = from?.id?.toString() || null;\n    normalized.chat_id = msg?.chat?.id?.toString() || null;\n    \n    if (data.callback_query) {\n      normalized.raw_text = data.callback_query.data || '';\n    } else if (msg?.voice) {\n      normalized.voice_file_id = msg.voice.file_id;\n      normalized.raw_text = msg.caption || '';\n    } else {\n      normalized.raw_text = msg?.text || msg?.caption || '';\n    }\n  }\n  // Email\n  else if (data.subject !== undefined || data.from?.value) {\n    normalized.source = 'email';\n    normalized.user_id = data.from?.value?.[0]?.address || data.from || 'email_user';\n    normalized.chat_id = null;\n    normalized.raw_text = (data.subject || '') + '\\n' + (data.text || data.textPlain || '');\n  }\n  // Google Sheets queued job\n  else if (data.status === 'queued_manual' || data.raw_text) {\n    normalized.source = 'sheets';\n    normalized.user_id = data.user_id || 'sheets_user';\n    normalized.chat_id = data.chat_id || null;\n    normalized.raw_text = data.raw_text || data.query || '';\n  }\n  \n  // Skip empty\n  if (normalized.raw_text || normalized.voice_file_id) {\n    results.push({ json: normalized });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { source: 'empty', raw_text: '', user_id: null, chat_id: null, voice_file_id: null, timestamp: new Date().toISOString() } }];"
      },
      "id": "080ae869-9e9d-4457-ae01-370adf1db6d0",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2,
            "combinator": "and"
          },
          "conditions": [
            {
              "id": "voice-check",
              "leftValue": "={{ $json.voice_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65bc5699-4a05-450b-8584-e75aa106d9f8",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        448
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IR4oQQAYQgUwIUjJ",
          "mode": "id",
          "cachedResultUrl": "/workflow/IR4oQQAYQgUwIUjJ"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "stt",
            "file_id": "={{ $json.voice_file_id }}",
            "user_id": "={{ $json.user_id }}",
            "chat_id": "={{ $json.chat_id }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "85aefa82-0600-45c9-85e2-696cd121f17f",
      "name": "Execute STT Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1168,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const sttResult = $input.first().json;\nconst originalData = $('Has Voice?').first().json;\n\nreturn [{\n  json: {\n    ...originalData,\n    raw_text: sttResult.transcription || sttResult.text || originalData.raw_text\n  }\n}];"
      },
      "id": "6e7a7060-43d5-4d32-8216-92697555a795",
      "name": "Merge Voice Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        336
      ]
    },
    {
      "parameters": {},
      "id": "b5cb416d-9690-45c3-82d3-381ea75c236a",
      "name": "Merge After Voice Check",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1616,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.2,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты классификатор запросов OSINT-платформы. Верни JSON: {\\\"intent\\\": \\\"search_private\\\" | \\\"search_b2b\\\" | \\\"company_analysis\\\" | \\\"tender_search\\\" | \\\"site_analysis\\\" | \\\"deep_osint\\\", \\\"entities\\\": {\\\"service\\\": string|null, \\\"region\\\": string|null, \\\"budget_min\\\": number|null, \\\"budget_max\\\": number|null, \\\"keywords\\\": string[], \\\"target_url\\\": string|null, \\\"target_inn\\\": string|null}, \\\"confidence\\\": 0-1}. Услуги компании: проектирование инженерных систем, монтаж вентиляции/кондиционирования/отопления, проектирование фасадов, AI-агенты, автоматизация бизнеса, рекламные видео, графика. Приоритет — частные заказчики (search_private). Если запрос про компанию по ИНН — company_analysis. Если про тендеры/закупки — tender_search. Если про анализ сайта — site_analysis. Если глубокий поиск по персоне/организации — deep_osint. Бизнес-клиенты — search_b2b.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.raw_text) }}\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          },
          "timeout": 30000
        }
      },
      "id": "ed65ba8d-68ed-4c41-93d7-1a57f3800890",
      "name": "Groq Intent Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        448
      ],
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "b1G9RjkTQaFLBXco",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Merge After Voice Check').first().json;\n\nlet parsed;\ntry {\n  const content = response.choices?.[0]?.message?.content || '{}';\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = {\n    intent: 'search_private',\n    entities: { keywords: [] },\n    confidence: 0\n  };\n}\n\nconst jobId = crypto.randomUUID();\nconst createdAt = new Date().toISOString();\n\nreturn [{\n  json: {\n    job_id: jobId,\n    created_at: createdAt,\n    source: prevData.source,\n    user_id: prevData.user_id,\n    chat_id: prevData.chat_id,\n    raw_text: prevData.raw_text,\n    intent: parsed.intent || 'search_private',\n    entities: parsed.entities || {},\n    confidence: parsed.confidence || 0,\n    status: 'processing'\n  }\n}];"
      },
      "id": "53333cc2-75e7-40e4-a03b-1f5256f49a0b",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2,
            "combinator": "and"
          },
          "conditions": [
            {
              "id": "confidence-check",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68c3c42f-3db8-410c-be24-4a5ea9c17d75",
      "name": "Check Parse Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2896,
        448
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "created_at": "={{ $json.created_at }}",
            "source": "={{ $json.source }}",
            "user_id": "={{ $json.user_id }}",
            "intent": "={{ $json.intent }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_input",
              "displayName": "raw_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entities_json",
              "displayName": "entities_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "finished_at",
              "displayName": "finished_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leads_found",
              "displayName": "leads_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_url",
              "displayName": "report_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "74f79a8b-b10c-4aa4-b637-c8da39ed8528",
      "name": "Create Job Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3120,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dUZaJdXfgHXwnmNN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2,
                  "combinator": "and"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "search_private",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2,
                  "combinator": "and"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "search_b2b",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2,
                  "combinator": "and"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "company_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2,
                  "combinator": "and"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "tender_search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2,
                  "combinator": "and"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "site_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2,
                  "combinator": "and"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "deep_osint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "75c5bd38-cab9-41f1-953f-379e8344fec3",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3328,
        336
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fgf3zI8fRJhkqlHC",
          "mode": "id",
          "cachedResultUrl": "/workflow/fgf3zI8fRJhkqlHC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "intent": "={{ $json.intent }}",
            "entities": "={{ JSON.stringify($json.entities) }}",
            "user_id": "={{ $json.user_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "raw_text": "={{ $json.raw_text }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "8e306997-4c1a-4f22-af19-96fbb51bd267",
      "name": "Execute Search Private",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fgf3zI8fRJhkqlHC",
          "mode": "id",
          "cachedResultUrl": "/workflow/fgf3zI8fRJhkqlHC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "intent": "={{ $json.intent }}",
            "entities": "={{ JSON.stringify($json.entities) }}",
            "user_id": "={{ $json.user_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "raw_text": "={{ $json.raw_text }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "5c3d9685-9bfe-4fcb-92eb-093afebe711b",
      "name": "Execute Search B2B",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gxCPpkQkvqc0yWf8",
          "mode": "id",
          "cachedResultUrl": "/workflow/gxCPpkQkvqc0yWf8"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "intent": "={{ $json.intent }}",
            "entities": "={{ JSON.stringify($json.entities) }}",
            "user_id": "={{ $json.user_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "raw_text": "={{ $json.raw_text }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "59f4d8b6-7a0e-4453-9073-6e8816ce4729",
      "name": "Execute Company Intel",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        432
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zcpU6hLvcMl5RiUa",
          "mode": "id",
          "cachedResultUrl": "/workflow/zcpU6hLvcMl5RiUa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "intent": "={{ $json.intent }}",
            "entities": "={{ JSON.stringify($json.entities) }}",
            "user_id": "={{ $json.user_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "raw_text": "={{ $json.raw_text }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "85a183a3-ac99-458e-8c0f-0712723a7bd7",
      "name": "Execute Tender Intel",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        608
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "viR4AZBaC4CFA4qx",
          "mode": "id",
          "cachedResultUrl": "/workflow/viR4AZBaC4CFA4qx"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "intent": "={{ $json.intent }}",
            "entities": "={{ JSON.stringify($json.entities) }}",
            "user_id": "={{ $json.user_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "raw_text": "={{ $json.raw_text }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "f8132377-fc26-4a54-9bb6-b8aa0549b91d",
      "name": "Execute Site Analysis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        784
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qXWixFd94G7Tfgaa",
          "mode": "id",
          "cachedResultUrl": "/workflow/qXWixFd94G7Tfgaa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "intent": "={{ $json.intent }}",
            "entities": "={{ JSON.stringify($json.entities) }}",
            "user_id": "={{ $json.user_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "raw_text": "={{ $json.raw_text }}"
          }
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "a79d3a09-da1f-400d-ae17-aba1effb8109",
      "name": "Execute Deep OSINT",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3616,
        976
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Intent').item.json.chat_id }}",
        "text": "=✅ Задача принята!\n\n🆔 Job ID: `{{ $('Parse Intent').item.json.job_id }}`\n📋 Тип: {{ $('Parse Intent').item.json.intent }}\n🎯 Уверенность: {{ Math.round($('Parse Intent').item.json.confidence * 100) }}%\n\nОтчёт придёт через 3-10 минут.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "820fec22-0c5f-48f8-9763-e7fb91e62e39",
      "name": "Send Confirmation Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3840,
        336
      ],
      "webhookId": "644257aa-28e4-4e27-9c2f-a11b0e5a6674",
      "credentials": {
        "telegramApi": {
          "id": "Xw7qHzoLSGuJnpZr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "65069658-6968-4564-9488-f239d75606d2",
      "name": "Fallback Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3616,
        1152
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.ADMIN_CHAT_ID }}",
        "text": "=⚠️ OSINT Router: Низкая уверенность классификации\n\nJob ID: {{ $json.job_id }}\nConfidence: {{ $json.confidence }}\nIntent: {{ $json.intent }}\nRaw text: {{ $json.raw_text.substring(0, 200) }}...",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a648fc0d-ba58-41cf-806b-392f9f34da2d",
      "name": "Notify Admin Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        576
      ],
      "webhookId": "84fc4f6c-0bef-4482-815a-884f6863cbb1",
      "credentials": {
        "telegramApi": {
          "id": "Xw7qHzoLSGuJnpZr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "created_at": "={{ $json.created_at }}",
            "source": "={{ $json.source }}",
            "user_id": "={{ $json.user_id }}",
            "intent": "={{ $json.intent }}",
            "status": "low_confidence_review"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_input",
              "displayName": "raw_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entities_json",
              "displayName": "entities_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "finished_at",
              "displayName": "finished_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leads_found",
              "displayName": "leads_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_url",
              "displayName": "report_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "40657bf4-1d53-4a9e-acae-7c80d315fc0b",
      "name": "Low Confidence Job Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3328,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dUZaJdXfgHXwnmNN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=⚠️ Не удалось точно определить тип запроса.\n\nВаш запрос передан оператору для ручной обработки.\nJob ID: `{{ $json.job_id }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c7555920-5518-42e6-8835-a76de974e286",
      "name": "Notify User Low Confidence",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3552,
        576
      ],
      "webhookId": "1ab80fbb-e8e6-42aa-89fa-335eea8337fa",
      "credentials": {
        "telegramApi": {
          "id": "Xw7qHzoLSGuJnpZr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.raw_text || '').trim();\nconst lower = text.toLowerCase();\n\n// Стоп-слова: явно не OSINT-запросы\nconst blocklist = [\n  'github', 'no-reply', 'noreply', 'password', 'verify your',\n  'confirm your', 'unsubscribe', 'security alert', 'sign-in',\n  'account was', 'access token', 'newsletter', 'promo',\n  'invoice', 'receipt', 'welcome to', 'reset your'\n];\n\nconst isSpam = blocklist.some(w => lower.includes(w));\nconst isTooShort = text.length < 15;\nconst isTooLong = text.length > 2000;\n\nif (isSpam || isTooShort || isTooLong) {\n  // Молча отбрасываем — не идём в Groq\n  return [];\n}\n\n// Идемпотентность без crypto\nlet hash = 0;\n\nfor (let i = 0; i < text.length; i++) {\n  hash = ((hash << 5) - hash + text.charCodeAt(i)) | 0;\n}\n\nconst requestHash = Math.abs(hash).toString(16);\n\nreturn [{\n  json: {\n    ...$json,\n    request_hash: requestHash,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        448
      ],
      "id": "f85280c7-e055-4009-8991-4e1858e029ef",
      "name": "Guard: Is Real Query"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA",
          "mode": "list",
          "cachedResultName": "OSINT-Platform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BddnyOBG8Q0BYpXoE0QFkJG2pJi_oxk0aLfJ86IggXA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "raw_input",
              "lookupValue": "={{ $json.raw_text.slice(0,100) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        448
      ],
      "id": "91115c9d-f7ab-4518-b68e-54080958a961",
      "name": "Check Duplicate Job",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dUZaJdXfgHXwnmNN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cf0773d5-bb48-4954-bd12-bc49a2e04f7c",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        464
      ],
      "id": "d4fbe172-5c35-4c05-bf68-fff652f94ab0",
      "name": "If Already Exists"
    },
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"OSINT:\"]]",
          "forceReconnect": 0
        }
      },
      "id": "1ff4e7ce-b855-449f-b537-7c6e12807aec",
      "name": "Email IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        80,
        464
      ],
      "credentials": {
        "imap": {
          "id": "849MjQERMk1pNSiO",
          "name": "IMAP account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Queued Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Execute STT Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge After Voice Check",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute STT Workflow": {
      "main": [
        [
          {
            "node": "Merge Voice Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Voice Result": {
      "main": [
        [
          {
            "node": "Merge After Voice Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Voice Check": {
      "main": [
        [
          {
            "node": "Guard: Is Real Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Intent Classifier": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Check Parse Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Success": {
      "main": [
        [
          {
            "node": "Create Job Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Row": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Execute Search Private",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Search B2B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Company Intel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Tender Intel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Site Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Deep OSINT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Search Private": {
      "main": [
        [
          {
            "node": "Send Confirmation Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Search B2B": {
      "main": [
        [
          {
            "node": "Send Confirmation Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Company Intel": {
      "main": [
        [
          {
            "node": "Send Confirmation Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tender Intel": {
      "main": [
        [
          {
            "node": "Send Confirmation Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Site Analysis": {
      "main": [
        [
          {
            "node": "Send Confirmation Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Deep OSINT": {
      "main": [
        [
          {
            "node": "Send Confirmation Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin Error": {
      "main": [
        [
          {
            "node": "Low Confidence Job Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Confidence Job Row": {
      "main": [
        [
          {
            "node": "Notify User Low Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard: Is Real Query": {
      "main": [
        [
          {
            "node": "Check Duplicate Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Job": {
      "main": [
        [
          {
            "node": "If Already Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Already Exists": {
      "main": [
        [
          {
            "node": "Groq Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email IMAP Trigger": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "963c0d90-5aa3-4a43-8318-39f9c11220e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65dd5bfdd5bd23c4610ca6a25496958f6e139a7aa0be700c2c525059b427f26d"
  },
  "nodeGroups": [],
  "id": "WtkTm484CwBpahGt",
  "tags": []
}